<%= form_for(@force) do |f| %>
  <% if @force.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@force.errors.count, "error") %> prohibited this force from being saved:</h2>

      <ul>
      <% @force.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :race %><br />
    <%= f.text_field :race %>
  </div>
  <div class="field">
    <%= f.label :player %><br />
    <%= f.text_field :player %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
