<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @dog.name %>
</p>

<p>
  <b>Unit:</b>
  <%= @dog.unit %>
</p>

<p>
  <b>Rank:</b>
  <%= @dog.rank %>
</p>

<p>
  <b>Ws:</b>
  <%= @dog.WS %>
</p>

<p>
  <b>Bs:</b>
  <%= @dog.BS %>
</p>

<p>
  <b>S:</b>
  <%= @dog.S %>
</p>

<p>
  <b>T:</b>
  <%= @dog.T %>
</p>

<p>
  <b>W:</b>
  <%= @dog.W %>
</p>

<p>
  <b>I:</b>
  <%= @dog.I %>
</p>

<p>
  <b>A:</b>
  <%= @dog.A %>
</p>

<p>
  <b>Ld:</b>
  <%= @dog.Ld %>
</p>

<p>
  <b>Sv:</b>
  <%= @dog.Sv %>
</p>

<p>
  <b>Newpoints:</b>
  <%= @dog.newpoints %>
</p>

<p>
  <b>Usedpoints:</b>
  <%= @dog.usedpoints %>
</p>

<p>
  <b>Ows:</b>
  <%= @dog.oWS %>
</p>

<p>
  <b>Obs:</b>
  <%= @dog.oBS %>
</p>

<p>
  <b>Os:</b>
  <%= @dog.oS %>
</p>

<p>
  <b>Ot:</b>
  <%= @dog.oT %>
</p>

<p>
  <b>Ow:</b>
  <%= @dog.oW %>
</p>

<p>
  <b>Oi:</b>
  <%= @dog.oI %>
</p>

<p>
  <b>Oa:</b>
  <%= @dog.oA %>
</p>

<p>
  <b>Old:</b>
  <%= @dog.oLd %>
</p>

<p>
  <b>Modelcost:</b>
  <%= @dog.modelcost %>
</p>

<p>
  <b>Background:</b>
  <%= @dog.background %>
</p>

<p>
  <b>Force:</b>
  <%= @dog.force %>
</p>


<%= link_to 'Edit', edit_dog_path(@dog) %> |
<%= link_to 'Back', dogs_path %>
